parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
      #  - tests/
    excludePaths:
        - src/DataFixtures/

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        constantHassers: false
    scanDirectories:
        - var/cache/dev/Symfony/Config
    bootstrapFiles:
        - vendor/autoload.php
        - src/Kernel.php
