<ion-content fullscreen="true">

  <section class="forgot-password-wrapper">
    <ng-template [ngIf]="!changePasswordSuccess">
      <div class="forgot-password-title">Let's begin a new!</div>
      <div class="forgot-password-label">Create your new password</div>

      <form [formGroup]="changePasswordForm" class="wrapper">
        <div class="forgot-password-input-wrapper">
          <div class="forgot-password-label">Password</div>
          <div class="forgot-password-input">
            <ion-input label="Enter password" label-placement="floating" fill="outline"
                       placeholder="*****" formControlName="password"></ion-input>
          </div>
        </div>

        <div class="verify-email-input">
          <div class="forgot-password-label">Confirm password</div>
          <ion-input label="Enter confirm password" label-placement="floating" fill="outline"
                     placeholder="*****" formControlName="confirmPassword"></ion-input>
          <button class="submit-btn" (click)="onSubmit()">
            <ion-icon class="submit-icon" name="arrow-forward-outline"></ion-icon>
          </button>

        </div>
        <span class="error" *ngIf="errorConfirmPassword">Password and Confirm Password not match!</span>
      </form>
    </ng-template>


    <ng-template [ngIf]="changePasswordSuccess">
      <div class="forgot-password-success-title">
        Your password has been changed successfully changed!
      </div>
      <div class="forgot-password-success">
        Now your password has been successfully changed! You can log in right now with your new password and access our
        service to your preference.
      </div>

      <div class="submit-btn-wrapper">
        <button class="redirect-btn" routerLink="/home">
          Go to home page
        </button>
        <button class="redirect-btn" routerLink="/auth">
          Sign in now
        </button>
      </div>
    </ng-template>
  </section>

</ion-content>
