
  <ion-content>
    <section class="section-wrapper">
      <ion-card style="box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;">
        <ng-template [ngIf]="!changePasswordSuccess">
          <ion-card-header>
            <ion-card-title>{{ 'auth.begin_new' | translate }}</ion-card-title>
            <ion-card-subtitle>{{ 'auth.create_new' | translate }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="changePasswordForm" class="wrapper">
              <div class="forgot-password-input-wrapper">
                <div class="forgot-password-label">{{ 'auth.enter_password' | translate }}</div>
                <div class="forgot-password-input">
                  <ion-input label="{{ 'auth.enter_password' | translate }}" label-placement="floating" fill="outline"
                             placeholder="*****" formControlName="password"></ion-input>
                </div>
              </div>

              <div class="verify-email-input">
                <div class="forgot-password-label">{{ 'auth.confirm_password' | translate }}</div>
                <ion-input label="{{ 'auth.confirm_password' | translate }}" label-placement="floating" fill="outline"
                           placeholder="*****" formControlName="confirmPassword"></ion-input>
                <button class="submit-btn" (click)="onSubmit()">
                  <ion-icon class="submit-icon" name="arrow-forward-outline"></ion-icon>
                </button>
              </div>
              <span class="error" *ngIf="errorConfirmPassword">{{ 'auth.confirm_not_match' | translate }}</span>
            </form>
          </ion-card-content>
        </ng-template>

        <ng-template [ngIf]="changePasswordSuccess">
            <ion-card-header>
              <ion-card-title>Your password has been changed successfully changed!</ion-card-title>
              <ion-card-subtitle>Now your password has been successfully changed! You can log in right now with your new password and access our
                service to your preference.</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="submit-btn-wrapper">
                <button class="redirect-btn" routerLink="/home">
                  Go to home page
                </button>
                <button class="redirect-btn" routerLink="/auth">
                  Sign in now
                </button>
              </div>
            </ion-card-content>
         </ng-template>
      </ion-card>
  </section>
</ion-content>
