<ion-content>
  <section class="section-wrapper">
    <ion-segment [(ngModel)]="selectedSegment" color="dark">
      <ion-segment-button value="signIn">
        <ion-label>{{ 'auth.sign_in' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="signUp">
        <ion-label>{{ 'auth.sign_up' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-card style="box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;" *ngIf="selectedSegment === 'signIn'">
      <ion-card-header>
        <ion-card-title>{{ 'auth.sign_in' | translate }}</ion-card-title>
        <ion-card-subtitle>{{ 'auth.welcome_back' | translate }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form action="" [formGroup]="signInForm" (submit)="onSubmit()">
          <div class="form-input-wrapper">
            <ion-input #identfier label="{{ 'auth.email_phone' | translate }}" label-placement="floating" fill="outline" type="text"
                       placeholder="{{ 'auth.email_phone' | translate }}" formControlName="identifier"></ion-input>
            <ion-input #password label="{{ 'auth.password' | translate }}" type="password" label-placement="floating" fill="outline"
                       placeholder="{{ 'auth.enter_password' | translate }}" formControlName="password"></ion-input>
          </div>
          <div class="forgot-pass" routerLink="/auth/forgot-password">{{ 'auth.forgot_password' | translate }}</div>
          <button type="submit" class="sign-in-btn" [disabled]="signInForm.invalid"
                  [class.sign-in-btn-disabled]="signInForm.invalid">
            {{ 'auth.sign_in' | translate }}
          </button>
        </form>
        <div></div>
      </ion-card-content>
    </ion-card>


    <ion-card style="box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;" *ngIf="selectedSegment === 'signUp'">
      <ion-card-header>
        <ion-card-title>{{ 'auth.sign_up' | translate }}</ion-card-title>
        <ion-card-subtitle>{{ 'auth.become_member' | translate }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form action="" [formGroup]="signUpForm" (submit)="onSubmitSignUp()">
          <div class="form-input-wrapper">
            <div class="input-wrapper">
              <div class="input-label">{{ 'auth.i_am' | translate }}</div>
              <ion-select
                label="{{ 'auth.account_type' | translate }}"
                formControlName="role"
                fill="outline"
                interface="popover"
                placeholder="choose one"
                label-placement="floating"
                [formControl]="rolePreferenceCtrl"
              >
                <ion-select-option value="ROLE_OWNER">{{ 'auth.owner' | translate }}</ion-select-option>
                <ion-select-option value="ROLE_TENANT">{{ 'auth.tenant' | translate }}</ion-select-option>
                <ion-select-option value="ROLE_AGENCY">{{ 'auth.agency' | translate }}</ion-select-option>
              </ion-select>
            </div>
            <div [formGroup]="agencyCtrl" *ngIf="showAgencyCtrl$ | async">
              <div class="input-wrapper">
                <ion-input label="{{ 'auth.agency_name' | translate }}" type="text" label-placement="floating" fill="outline"
                           placeholder="{{ 'auth.agency_name' | translate }}" formControlName="name"></ion-input>

                <ion-input label="{{ 'auth.siret' | translate }}" type="text" label-placement="floating" fill="outline"
                           placeholder="{{ 'auth.siret' | translate }}" formControlName="siret"></ion-input>
              </div>
            </div>
            <div class="input-wrapper">
              <ion-input label="{{ 'account.firstname' | translate }}" type="text" label-placement="floating" fill="outline"
                         placeholder="{{ 'account.firstname' | translate }}" formControlName="firstname"></ion-input>
            </div>
            <div class="input-wrapper">
              <ion-input label="{{ 'account.lastname' | translate }}" type="text" label-placement="floating" fill="outline"
                         placeholder="{{ 'account.lastname' | translate }}" formControlName="lastname"></ion-input>
            </div>
            <div class="input-wrapper">
              <ion-select
                label="{{ 'auth.select_language' | translate }}"
                formControlName="locale"
                fill="outline"
                interface="popover"
                placeholder="choose one"
                label-placement="floating"
                (ionChange)="switchLanguage($event)"
              >
                <ion-select-option
                  *ngFor="let locale of locales"
                  [value]="locale['@id']"
                >{{ locale.name }}</ion-select-option>
              </ion-select>
            </div>

            <app-address-form (addressChanged)="onAddressChanged($event)"></app-address-form>

            <div class="input-wrapper">
              <ion-input label="{{ 'auth.email' | translate }}" label-placement="floating" fill="outline" type="email"
                         placeholder="{{ 'auth.enter_email' | translate }}" formControlName="email"></ion-input>
              <span *ngIf="signUpForm.controls.email.errors?.['email']">{{ 'error.email.invalid' | translate }}</span>
              <span *ngIf="signUpForm.controls.email.errors?.['require']">{{ 'error.email.empty' | translate }}</span>
            </div>

            <ion-input label="{{ 'auth.password' | translate }}" type="password" label-placement="floating" fill="outline"
                       placeholder="{{ 'auth.enter_password' | translate }}" formControlName="password"></ion-input>

            <div class="input-wrapper">
              <ion-input label="{{ 'auth.phone' | translate }}" type="text" label-placement="floating" fill="outline"
                         placeholder="{{ 'auth.enter_phone' | translate }}" formControlName="phone"></ion-input>
              <span *ngIf="signUpForm.controls.phone.errors?.['minlength']">{{ 'error.phone.min_characters' | translate }}</span>
              <span *ngIf="signUpForm.controls.phone.errors?.['maxlength']">{{ 'error.phone.max_characters' | translate }}</span>
              <span *ngIf="signUpForm.controls.phone.errors?.['require']">{{ 'error.phone.empty' | translate }}</span>
            </div>
          </div>
          <button type="submit" class="sign-up-btn" [disabled]="signUpForm.invalid"
                  [class.sign-up-btn-disabled]="signUpForm.invalid">{{ 'auth.sign_up' | translate }}</button>
        </form>
      </ion-card-content>
    </ion-card>
    </section>
    </ion-content>
