<div [formGroup]="addressForm">
  <div class="input-wrapper">
    <ion-input label="Address" type="text" label-placement="floating" fill="outline"
               placeholder="Enter address" formControlName="address"></ion-input>

    <ion-input label="addressSupplement" type="text" label-placement="floating" fill="outline"
               placeholder="Enter addressSupplement" formControlName="addressSupplement"></ion-input>

    <ion-input label="zipCode" type="text" label-placement="floating" fill="outline"
               placeholder="Enter zipCode" formControlName="zipCode"></ion-input>
    <ion-input label="city" type="text" label-placement="floating" fill="outline"
               placeholder="Enter city" formControlName="city"></ion-input>



    <ion-select
      label="Selectionnez votre pays"
      formControlName="country"
      fill="outline"
      interface="popover"
      placeholder="choose one"
      label-placement="floating"
    >
      <ion-select-option
        *ngFor="let country of countries"
        [value]="country['@id']"
      >{{ country.name }}</ion-select-option>
    </ion-select>


  </div>
</div>
