<div [formGroup]="addressForm">
  <div class="input-wrapper">
    <ion-input label="{{ 'address.address' | translate }}" type="text" label-placement="floating" fill="outline"
               placeholder="{{ 'address.address' | translate }}" formControlName="address"></ion-input>

    <ion-input label="{{ 'address.supplement' | translate }}" type="text" label-placement="floating" fill="outline"
               placeholder="{{ 'address.supplement' | translate }}" formControlName="addressSupplement"></ion-input>

    <ion-input label="{{ 'address.zipCode' | translate }}" type="text" label-placement="floating" fill="outline"
               placeholder="{{ 'address.zipCode' | translate }}" formControlName="zipCode"></ion-input>
    <ion-input label="{{ 'address.city' | translate }}" type="text" label-placement="floating" fill="outline"
               placeholder="{{ 'address.city' | translate }}" formControlName="city"></ion-input>

    <ion-select
      label="{{ 'address.country' | translate }}"
      formControlName="country"
      fill="outline"
      interface="popover"
      label-placement="floating"
    >
      <ion-select-option
        *ngFor="let country of countries"
        [value]="country['@id']"
      >{{ country.name }}</ion-select-option>
    </ion-select>
  </div>
</div>
