<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Admin
    </ion-title>

    <ion-buttons slot="end">

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-admin-menu *ngIf="isAuthenticated && user$" [user$]="user$"></app-admin-menu>

<ion-content id="main-content">
  <div class="centered-limited-width ion-text-center">
    <ion-card-header>
      <ion-card-title>
        "Welcome"
      </ion-card-title>
      <ion-card-title>
        test test
      </ion-card-title>
    </ion-card-header>
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-content>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="people"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="location"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>


