<ion-content fullscreen="true">

  <section *ngIf="!verifySuccess" class="verify-email-wrapper">

      <div class="verify-email-title">Reclaim Your Access !</div>
      <div class="verify-email-input-wrapper">
        <div class="verify-email-label">First, we need to verify that's you</div>
        <form [formGroup]="emailForm"  class="verify-email-input">

          <ion-input label="Enter email" label-placement="floating" fill="outline"
                     placeholder="johndoe@gmail.com" formControlName="email"></ion-input>
          <button class="submit-btn" (click)="verifyEmail()">
            <ion-icon class="submit-icon" name="arrow-forward-outline" ></ion-icon>
          </button>
        </form>
        <div class="error" *ngIf="errorVerify">Something might gone wrong. Please check the email again</div>
      </div>
  </section>

  <section *ngIf="verifySuccess" class="verify-email-wrapper">
    <div class="verify-email-success-title">Verification sent successfully!</div>
    <div class="verify-email-success">
      Great! We’ve sent a verification email. Please confirm your identity to us.
      If you didn’t receive any email in a short time, please also check your spam box.
    </div>
    <button class="submit-btn" (click)="nextStep()">
      Click here to next step
    </button>
  </section>
</ion-content>
