<ion-content>
  <section *ngIf="!verifySuccess" class="section-wrapper">
    <ion-card style="box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;">
      <ion-card-header>
        <ion-card-title>{{ 'auth.forgot_password' | translate }}</ion-card-title>
        <ion-card-subtitle>{{ 'auth.forgot_password_desc' | translate }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="emailForm" class="verify-email-input">
          <ion-input label="{{ 'auth.email_phone' | translate }}" label-placement="floating" fill="outline"
                     placeholder="johndoe@gmail.com" formControlName="email"></ion-input>
          <button class="submit-btn" (click)="verifyEmail()">
            <ion-icon class="submit-icon" name="arrow-forward-outline" ></ion-icon>
          </button>
        </form>
        <div class="error" *ngIf="errorVerify">{{ 'error.phone0rEmail' | translate }}</div>

      </ion-card-content>
    </ion-card>
  </section>

  <section *ngIf="verifySuccess" class="section-wrapper">
    <ion-card style="box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;">
      <ion-card-header>
        <ion-card-title>{{ 'auth.sentSuccessfully' | translate }}</ion-card-title>
        <ion-card-subtitle>{{ 'auth.sentSuccessfullyDesc' | translate }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

    <button class="submit-btn" (click)="nextStep()">
      {{ 'auth.next' | translate }}
    </button>
      </ion-card-content>
    </ion-card>
  </section>

</ion-content>
